*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: #bdceba91;
}
.game-head h2 {
  color: blue;
  font-size: 33px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p.scoreCalc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap-x: 20px;
  gap: 5px;
}
.score-board {
  display: flex;
}
img.icon {
  height: 37px;
  width: 37px;
}
canvas {
  box-shadow: black 20px 10px 50px;
  padding: 5px;
  margin-top: 10px;
}

.score-board {
  display: flex;
  gap: 10px;
}

span {
  font-size: 23px;
  font-weight: bold;
}

.game-body {
  margin-top: 25px;
}

.headGame,
.try {
  display: none;
}

.active {
  display: flex;
}

.replay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
button.try {
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  background-color: black;
  color: white;
}

button.try:hover {
  background-color: white;
  color: black;
}

.button-pad {
  position: absolute;
  top: 20%;
  left: 10px;
}
